<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= if assigns[:hashtag] do %>
      <title>Community Wall with <%= get_title(@hashtag) %></title>
    <% else %>
      <title>Community Wall</title>
    <% end %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="bg-gray-200">
    <header>
      <nav class="flex items-center justify-between flex-wrap bg-blue-700 p-6 shadow-lg">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <%= if assigns[:hashtag] do %>
            <span class="font-semibold text-xl tracking-tight uppercase"><%= get_title(@hashtag) %></span>
          <% else %>
            <span class="font-semibold text-xl tracking-tight">Community Wall </span>
          <% end %>
        </div>
        <div>
          <button id="refresh-button" onClick="window.location.reload();" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 lg:mt-0">Refresh</button>
        </div>
      </nav>
    </header>
    <main role="main" class="container mx-auto my-6 ">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <%= if assigns[:refresh_every] do %>
      <script>
        window.setTimeout(function () {
          const button = document.querySelector('#refresh-button');
          button.disabled = true;
          button.classList.add("bg-white");
          button.classList.add("cursor-not-allowed");
          button.classList.add("text-blue-500");
          window.setTimeout(function () {
            window.location.reload();
          }, 5000);

        }, (<%= @refresh_every %> - 5000))
        window.setTimeout(function () {
          document.querySelector(".instruction").hidden = true;
        }, 20000)
      </script>
    <% end %>
  </body>
</html>
