<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= if assigns[:refresh_every] do %>
      <meta http-equiv="refresh" content="<%= @refresh_every %>">
    <% end %>
    <title>Community Wall with #hashtag</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="bg-gray-200">
    <header>
      <nav class="flex items-center justify-between flex-wrap bg-blue-700 p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <%= if assigns[:hashtag] do %>
            <span class="font-semibold text-xl tracking-tight">Community Wall <%= get_title(@hashtag) %></span>
          <% else %>
            <span class="font-semibold text-xl tracking-tight">Community Wall </span>
          <% end %>
        </div>
      </nav>
    </header>
    <main role="main" class="container mx-auto my-6 flex">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
